.agents/
.tmp/
.vscode/
dev/
tests/
lefthook.yml
pnpm-lock.yaml
pnpm-workspace.yaml
scripts/
vitest.config.mjs
vitest.integration.config.mjs

**/__tests__/
src/**/docs/
**/test/
**/tests/
**/*.config.mjs
**/*.integration.test.*
**/*.test.*
**/north-star.md
